.about_section_page{
  margin-top: 80px;
}
.about_content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  color: rgb(190, 190, 190);
}
.about_content h1{
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1px;
}

.why_choose_us_container{
  color: rgb(190, 190, 190);
  padding: 50px 0px;
  margin-bottom: 50px;
  /* text-align: center; */
}
.why_choose_us_container h2{
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 40px;
}
.why_choose_us_container ol{
  text-align: left;
  padding-left: 0;
}
.why_choose_us_container ol li{
  line-height: 2.5rem;
  list-style: none;
}
.why_choose_us_container ol li span{
  font-size: 17px;
  font-weight: 700;
  color: #89c540;
}

@media screen and (max-width: 768px) {
  .about_content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    color: rgb(190, 190, 190);
  }
}