
.sidebar {
  height: 101vh;
  background-color:  #0b0e09;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sidebar ul {
  margin-top: 40px;
  list-style: none;
  font-size: 18px;
  border-top: 1px solid green;
}
.sidebar ul li {
  margin-top: 20px;
  font-weight: 600;
  color: rgb(187, 187, 187);
  cursor: pointer;
  text-decoration: none;
}
.sidebar ul a {
  text-decoration: none;
}

.admin_header {
  width: 100%;
  padding: 30px;
  background-color:  #0b0e09;
  color: rgb(233, 233, 233);
  display: flex;
  justify-content: end;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



@media screen and (max-width: 768px) {
  .sidebar {
    height: 0vh;
    background-color:  #0b0e09;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}