.admin_panel_layout {
}
.sidebar_container {
  position: fixed;
  height: 100vh;
  width: 400px;
}
.sidebar {
  height: 100vh;
  background-color: #0b0e09;
  padding: 20px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sidebar ul {
  margin-top: 40px;
  padding-left: 0rem !important;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  border-top: 1px solid rgba(0, 128, 0, 0.342);
}
.sidebar ul li {
  margin-top: 20px;
  color: rgb(187, 187, 187);
  cursor: pointer;
  text-decoration: none;
}
.sidebar ul a {
  text-decoration: none;
}

.admin_panel_body {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.admin_header {
  width: 100%;
  top: 0px;
  padding: 30px 80px;
  background-color: #0b0e09;
  color: rgb(233, 233, 233);
  display: flex;
  position: fixed;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .sidebar {
    height: 0vh;
    background-color: #0b0e09;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
