.banner_content h1{
    font-size: 56px;
    font-weight: 800;
    line-height: 67px;
    letter-spacing: 0.005em;
    color: rgba(255, 255, 255, 1);
}
.banner_content h1 span{
    background: -webkit-linear-gradient(180deg, #09643F 0%, #89C540 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.banner_content p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #C5C5C5;
}
/* .banner_content h1 span {
    text-shadow: 0 0 10px rgba(9, 100, 63, 0.5), 0 0 20px rgba(137, 197, 64, 0.8);
} */
 /* color: linear-gradient(180deg, #09643F 0%, #89C540 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; */