*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --primary-color: linear-gradient(180deg, #09643F 0%, #89C540 100%);
  --deep-color: #09643F;
  --light-color: #89C540;
  --dark-color:#020b13;
}