.client_review_section {
  padding: 150px 0px;
  margin: auto;
  background-image: url(../../../assets/images/client-review-section-img/Group\ 1000005238\ .png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}

.heading {
  color: #ffffff;
  text-align: center;
  /* margin-bottom: 50px; */
}

.client_slider_container {
  color: #ffffff;
  margin-top: 70px;
}

.comments{
    margin-bottom: 40px;
}

.slick-next:before {
  content: "";
  display: block;
  width: 71px;
  height: 40px;
  background-image: url("../../../assets/images/client-review-section-img/Group\ 1000005240.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
}
.slick-prev:before {
  content: "";
  display: block;
  width: 71px;
  height: 40px;
  background-image: url("../../../assets/images/client-review-section-img/Group\ 1000005239.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.slick-next {
  right: 60px;
}
.slick-prev {
  left: 10px;

}

.slide_containt {
  text-align: center;
  padding: 2% 20%;
}

.slide_containt .comments {
  color: #c5c5c5;
  padding-bottom: 20px;
  font-size: 24px;
}

.slide_containt h5 {
  color: #ebebeb;
  padding-bottom: 10px;
}

.slide_containt h6 {
  color: #09643f;
}

@media only screen and (max-width: 768px) {
  .client_review_section {
    width: 80%;
  }

  .heading {
    font-size: 26px;
  }

  .client_slider_container {
    background-size: 50% 100%;
    padding: 40px 40px;
  }
  .slide_containt .comments {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .client_review_section {
    width: 100%;
  }

  .heading {
    font-size: 26px;
  }

  .client_slider_container {
    background-size: 30% 100%;
  }

  .slide_containt .comments {
    font-size: 12px;
  }
}
