.custom-slider .slick-prev,
.custom-slider .slick-next {
  display: none !important;
}
.custom-slider {
  clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%) !important;
}
.explore_slider_image{
   height:420px;
   width: 100%;
   clip-path: polygon(12% 0%, 100% 0%, 88% 100%, 0% 100%);
   border-radius: 10px;
}
.slider_badge {
  background: linear-gradient(
    180deg,
    rgba(9, 100, 63, 0.2) 0%,
    rgba(137, 197, 64, 0.2) 100%
  );
  width: 360px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%) !important;
  position: relative;
  left: 10%;
  top: 40%;
  z-index: 1000;
}
.soft_dev_slider_badge {
  background: linear-gradient(
    180deg,
    rgba(9, 100, 63, 0.2) 0%,
    rgba(137, 197, 64, 0.2) 100%
  );
  width: 360px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%) !important;
  position: relative;
  right: 40%;
  top: 40%;
  z-index: 1000;
}
.slider_badge p,
.soft_dev_slider_badge p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0;
}
.slider_badge p:first-child,
.soft_dev_slider_badge p:first-child {
  color: rgba(255, 255, 255, 1);
}
.slider_badge p:last-child,
.soft_dev_slider_badge p:last-child {
  color: #09643f;
}

.exploreUs_title {
  font-size: 42px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #ffffff;
}
.exploreUs_title span {
  color: #0b0e09;
  -webkit-text-stroke: 0.5px white;
}
.explore_more_btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #ffffff;
  background: #1f212d;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  position: relative;
  height: 62px;
  z-index: 10;
}

.explore_more_btn::after {
  content: "";
  position: absolute;
  background: -webkit-linear-gradient(90deg, #89c540 0%, #09643f 100%);
  left: 0;
  top: 0;
  height:62px;
  width:62px;
  border-radius: 30px;
  z-index: -50;
  opacity: .6;
}
.explore_more_btn:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: .3s linear;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .exploreUs_title {
    font-size: 22px;
    font-weight: 700;
  }
  .slider_badge ,.soft_dev_slider_badge {
    position: initial;
   margin-bottom: 20px;
  }
  .explore_slider_image{
    height:220px;
 }
}